<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>
        <%= @user.email %>
      </h2>
      <div>
        <div>
          <h2>
            Groups
          </h2>
        
          <h3>
            <% @user.groups.each do |group| %>
              <p>
                <%= link_to group.name, group_path(group) %>
                <h3>
                  <%= group.users.count %>
                </h3>
              </p>
            <% end %>
          </h3>
        </div>
      </div>
      <p>
        <%= link_to 'Add Group', new_group_path,  class: "btn btn-success" %>
      </p>
      
    </div>
  </div>
</div>

