<div class="container">  
  <h1>Orders</h1>
  <% if @orders.any? %>
    <div class="row">
      <%= render @orders %> 
    </div>
  <% else %>
    <%= link_to 'New Order', new_order_path, class: "btn btn-primary btn-lg" %>

  <% end %>

  