<div class="jumbotron">
  <h1 class="display-4"><i class="fa fa-motorcycle fa-rotate-270"></i>Wheelie</h1>
  <p class="lead">Who's Making The Run?</p>   
  <%= link_to 'Join Now', new_user_registration_path, class: "btn btn-primary btn-lg" %> 
  <%= link_to 'Find My Group', groups_path, class: "btn btn-outline-secondary btn-lg" %> 
</div>

