<div class="jumbotron">
  <h1 class="display-3"><i class="fa fa-motorcycle fa-rotate-45"></i></h1>
  <h2>Who's Making The Run?</h2>   
  <%= link_to 'Join Now', new_user_registration_path, class: "btn btn-warning btn-lg" %> 
  <%= link_to 'Find My Group', groups_path, class: "btn btn-outline-warning btn-lg" %> 
</div>

